PROJECT REQUIREMENTS / DOC

- Bu dökümantasyon ayrıntılı hale getirilip tamamlanacak.
- api lere güvenlik eklenecek
- Son değerlendirme yapılacak tüm kullanıcı deneyimine göre konsept testleri yapılacak.

/user
POST
create user
PUT
update user
DELETE
delete user

/user/sensor
POST
return wemos-id
PUT
return update field where sensor is moved

/user/field
POST
create field for user
DELETE
delete field for user

/users
GET
return user list

/sensors
GET
return all sensor values

# id unique sensor id <userid-sensor_id>
/sensor/<id>
GET
return specific sensor value
POST
send value to mongodb




POSTGRESQL CONNECTION STRING

POSTGRES = {
    'user': 'postgres',
    'pw': 'password',
    'db': 'my_database',
    'host': 'localhost',
    'port': '5432',
}
app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql+psycopg2://%(user)s:\
%(pw)s@%(host)s:%(port)s/%(db)s' % POSTGRES

"postgresql+psycopg2://postgres:umut@127.0.0.1:5432/trial_database"